@model IEnumerable<Facebook.Models.Like>





<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td class="btn-success">
                <div class="" style="font-size:20px">

                    @if (item.ApplicationUser.userImage != null)
                {
                    var base64 = Convert.ToBase64String(item.ApplicationUser.userImage);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc"  style="width:25px;height:25px" alt="@item.ApplicationUser.UserName" />
                    }
                    else
                    {
                        <img src="~/Content/Image User/UserImg.png"  style="width:25px;height:25px" alt="@item.ApplicationUser.UserName" />
                    }

                    @item.ApplicationUser.UserName
                </div>




            </td>

        </tr>
    }

</table>
